{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Project Detail</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<link rel="stylesheet" href="{% static 'css/project_detail.css' %}" />
{% endblock %}
{% block content %}
<div class="container">
   <!-- Add File Modal -->
   <div id="AddFileModel" class="modal">
      <div class="modal-content">
         <span class="close" id="closeAddFileModel">&times;</span>
         <h2 style="margin-bottom:10px;">Add File</h2>
         <form id="AddFileForm" action="{% url 'create_file' project_pk=project.pk %}" method="POST">
            {% csrf_token %}
            <label for="Name">Name:</label>
            <input type="text" id="Name" name="name" value="{{ modal_data.name|default:'' }}" required>
            <button type="submit">Create</button>
         </form>
      </div>
   </div>
   <!-- Header -->
   <header class="repo-header">
      <div class="repo-name1">
         <span class="repo-icon">📂</span> {{ project.name }}
      </div>
      <div class="actions">
         <button class="new-button">Add File</button>
      </div>
   </header>
   <!-- File List -->
   {% if project.files.exists %}
   {% for file in project.files.all %}
   <table class="file-list">
      <tr class="file-item">
         <td class="file-name"><a href="{% url 'file_detail' file.pk %}">{{ file.name }}</a></td>
         <td class="file-commit">Updated {{ file.updated|naturaltime }}</td>
         <td class="file-actions">
            <div class="dropdown">
               <span class="dots-icon" onclick="toggleDropdown({{ file.id }})">&#x22EE;</span>
               <div id="dropdownMenu-{{ file.id }}" class="dropdown-menu">
                  <button data-id="{{ file.id }}" class="dropdown-item">Rename</button>
                  <button data-id="{{ file.id }}" class="dropdown-item1">Delete</button>
               </div>
            </div>
         </td>
      </tr>
   </table>
   <!-- Rename File Modal -->
   <div id="RenameFileModel-{{ file.id }}" class="modal">
      <div class="modal-content">
         <span class="close" id="closeRenameFileModel-{{ file.id }}">&times;</span>
         <h2 style="margin-bottom:10px;">Rename File</h2>
         <form id="RenameFileModelForm-{{ file.id }}" action="{% url 'update_file' file.pk %}" method="POST">
            {% csrf_token %}
            <label for="Name-{{ file.id }}">Name:</label>
            <input type="text" id="Name-{{ file.id }}" name="name" value="{{ modal_data.name|default:file.name }}" required>
            <button type="submit">Update</button>
         </form>
      </div>
   </div>
   <!-- Delete File Modal -->
   <div id="deleteModal-{{ file.id }}" class="modal">
      <div class="modal-content">
         <span class="close" id="closeDeleteModal-{{ file.id }}">&times;</span>
         <h2 style="margin-bottom:10px;">Delete File</h2>
         <p>Are you sure you want to delete <b>"{{ file.name }}"</b> File?</p>
         <form style="display: inline-block;" id="deleteForm-{{ file.id }}" method="POST" action="{% url 'delete_file' file.pk %}">
            {% csrf_token %}
            <input type="hidden" name="uuid" id="deleteUUID-{{ file.id }}" value="{{ file.pk }}">
            <button style="background-color: #c9302c;border: 1px solid #d9534f;" type="submit" id="confirmDelete-{{ file.id }}">Yes</button>
            <button style="margin-left: 5px;" type="button" class="close2" >No</button>
         </form>
      </div>
   </div>
   {% endfor %}
   {% else %}
   <p>No files available.</p>
   {% endif %}
   <!-- Readme Section -->
   <div class="readme">
      <h3>Description:</h3>
      <p>{{ project.description }}</p>
   </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
   document.addEventListener("DOMContentLoaded", function () {
       // Get the modals
       var deleteModals = document.querySelectorAll(".modal[id^='deleteModal-']");
       var RenameFileModel = document.querySelectorAll(".modal[id^='RenameFileModel-']");
       var AddFileModel = document.getElementById("AddFileModel");
   
       // Get the <span> elements that close the modals
       var closeButtons = document.querySelectorAll(".close");
       var closeButtons2 = document.querySelectorAll(".close2");
   
       // Get the buttons that trigger the modals
       var deleteIcons = document.querySelectorAll(".dropdown-item1");
       var RenameFileButtons = document.querySelectorAll(".dropdown-item");
       var addFileButtons = document.querySelectorAll(".new-button");
   
       // Function to open modals
       function openModal(modal) {
           modal.style.display = "block";
       }
   
       // Function to close modals
       function closeModal(modal) {
           modal.style.display = "none";
       }
   
       // Close modals when clicking on <span> (x)
       closeButtons.forEach(function (button) {
       button.addEventListener("click", function () {
           var modal = button.closest(".modal");
           if (modal) {
               closeModal(modal);
           }
       });
       });

       closeButtons2.forEach(function (button) {
       button.addEventListener("click", function () {
           var modal = button.closest(".modal");
           if (modal) {
               closeModal(modal);
           }
       });
       });
   
       // Open modals based on button clicks
       deleteIcons.forEach(function (icon) {
           icon.addEventListener("click", function () {
               var fileId = icon.getAttribute("data-id");
               var deleteModal = document.getElementById("deleteModal-" + fileId);
               if (deleteModal) {
                   openModal(deleteModal);
               }
           });
       });
   
       RenameFileButtons.forEach(function (button) {
           button.addEventListener("click", function () {
               var fileId = button.getAttribute("data-id");
               var RenameFileModel = document.getElementById("RenameFileModel-" + fileId);
               if (RenameFileModel) {
                   openModal(RenameFileModel);
               }
           });
       });
   
       addFileButtons.forEach(function (button) {
           button.addEventListener("click", function () {
               if (AddFileModel) {
                   openModal(AddFileModel);
               }
           });
       });
   
       // Close modals when clicking outside of them
       window.addEventListener("click", function (event) {
           if (event.target.classList.contains("modal")) {
               closeModal(event.target);
           }
       });     
   });
</script>
<script>
   function toggleDropdown(fileId) {
       const dropdown = document.getElementById('dropdownMenu-' + fileId);
       if (dropdown) {
           dropdown.classList.toggle('show');
       } else {
           console.log('Dropdown not found for file ID:', fileId);
       }
   }
   
   // Close the dropdown if clicked outside
   window.onclick = function(event) {
       if (!event.target.matches('.dots-icon')) {
           const dropdowns = document.getElementsByClassName("dropdown-menu");
           for (let i = 0; i < dropdowns.length; i++) {
               const openDropdown = dropdowns[i];
               if (openDropdown.classList.contains('show')) {
                   openDropdown.classList.remove('show');
               }
           }
       }
   }
</script>
{% if duplicate_file %}
<script>
   // Show the modal if the file name already exists
   document.getElementById("AddFileModel").style.display = "block";
   
   // Show an alert inside the modal
   alert("A file with this name already exists in this project. Please choose a different name.");
</script>
{% endif %}
<script>
   // Script to handle the modal functionality
   document.getElementById('closeAddFileModel').onclick = function() {
       document.getElementById('AddFileModel').style.display = 'none';
   }
   
   window.onclick = function(event) {
       if (event.target == document.getElementById('AddFileModel')) {
           document.getElementById('AddFileModel').style.display = 'none';
       }
   }
</script>
{% if update_duplicate_file %}
<script>
   document.addEventListener('DOMContentLoaded', function() {
       var modal = document.getElementById("RenameFileModel-{{ file.id }}");
       var closeButton = document.getElementById('closeRenameFileModel-{{ file.id }}');
   
       if (modal) {
           // Show the modal
           modal.style.display = "block";
   
           // Show an alert inside the modal
           alert("A file with this name already exists. Please choose a different name.");
   
           if (closeButton) {
               closeButton.onclick = function() {
                   modal.style.display = 'none';
               }
           }
   
           // Close the modal if clicked outside of it
           window.onclick = function(event) {
               if (event.target == modal) {
                   modal.style.display = 'none';
               }
           }
       }
   });
</script>
{% endif %}
{% endblock %}