.container2 {
    display: flex;
    margin: 0 auto;
    padding: 20px;
}

.main-content {
    flex: 3;
    padding-right: 20px;
}

.version-history {
    border-left: 1px solid #c9d1d9;
    padding-left: 20px;
    overflow: scroll;
    max-height: 77vh;
    overflow-x: hidden;
}

.file-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.edit-button {
    color: #c9d1d9;
}
.back{
    color: #c9d1cd;
    margin-left: 20px;
    text-decoration: none;
    border: 1px solid #8b949e;
    padding: 7px;
    border-radius: 7px;
}

@media (max-width: 600px) {
    .file-name {
        flex-direction: column;
    }
}